.about {

    &--modifier {
        top: -40px;
    }

    &-wrap {
        @include container();
        padding-bottom: 90px;
        background: #252525;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        border-radius: 6px;
    }

    .section-title {
        &::before {
            content: 'About';
        }
        &::after {
            display: none;
        }
    }

}