.footer {

    &--modifier {
        background-color: $darkGray;
    }

    .info-container {
        padding: 30px 15px;
    }
    
    &-bottom {
        padding: 30px 0;
        border-top: 2px solid rgba(255, 255, 255, 0.1);
        text-align: center;

        &__copy {
            font-size: 0.75rem;
            line-height: 2;
            color: $lightGray;
        }
    }

}